* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  margin:33px;
}
table {
  margin:5px;
}

.text {
  margin:33px;
}

.table-name {
  display:flex;
  list-style:none;
  text-align:center;
  padding:1px 1px 5px 1px;
}

.table-title {
  width:200px;
  height:18px;
}

.table-body {
  width:400px;
  height:18px;
}

.table-link {
  width:150px;
  height:18px;
}

.table-list {
  display:flex;
  padding:1px 1px 5px 1px;
}

.table-title-item {
  width:200px;
}

.table-body-item {
  width:400px;

}

.submit {
  width:150px;
}

.strong ,.h1 {
  font-family: cursive, sans-serf;
}